{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}
{% load my_templatetags %} {# プロジェクト共有のテンプレートファイル/タグを使う. setting.pyで設定 #}

{% block title %}
修繕費収入・支出履歴
{% endblock title %}
{% block head %}
{# javascriptファイルを取り込む #}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="{% static 'balance/shuuzenhi_balance_linechart.js' %}"></script>
{% endblock head %}
{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"href="{% url 'register:mypage' %}" %>【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'balance:kanrihi' %}" class="navbar-item">管理会計収支</a>
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:mypage' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}
{% block content %}
<br>
<div class="container">
  <div class="content has-text-centered">
    <h4>修繕会計収支（議案書ベース）</h4>
  </div>
  <br>
  <div class="content table-container">
    <table class="table is-striped is-narrow is-responsible">
      <thead>
        <tr>
          {#<th class="has-text-centered">西暦</th>#}
          <th class="has-text-centered">期</th>
          <th class="has-text-centered">前期繰越金</th>
          <th class="has-text-centered">修繕費収入</th>
          <th class="has-text-centered">その他収入</th>
          <th class="has-text-centered">駐車場会計より</th>
          <th class="has-text-centered">収入合計</th>
          <th class="has-text-centered">支出合計</th>
          <th class="has-text-centered">次期繰越金</th>
        </tr>
      </thead>
      <tbody>
        {% for list in balancelist %}
        <tr>
          {#<td class="has-text-centered">{{ list.ki|add:start_year}}</td>#}
          <td class="has-text-centered">{{ list.ki }}</td>
          <td class="has-text-right">{{ list.zenki|intcomma}}</td>
          <td class="has-text-right">{{ list.shuuzenhi|intcomma}}</td>
          <td class="has-text-right">{{ list.sonota|intcomma }}</td>
          <td class="has-text-right">{{ list.parking|intcomma }}</td>
          <td class="has-text-right">{{ list.in_total|intcomma }}</td>
          <td class="has-text-right">{{list.shuuzen|intcomma}}</td>
          <td class="has-text-right">{{list.in_total|subtract:list.shuuzen|intcomma}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
</div>
<br>
<div class="md_container">
  <canvas id="stage" width="300" height="200"></canvas>
</div>

{# 以下でグラフ作成用のデータを生成する． templateで処理を書いて良いものだろうか？ #}
<script type="text/javascript">
  var data = [];
</script>
{% for dat in balancelist %}
<script type="text/javascript">
  var list = [];
  list.push("{{dat.ki}}");
  list.push("{{dat.in_total}}"-"{{dat.shuuzen}}");
  list.push("{{dat.shuuzen}}");
  data.push(list);
</script>
{% endfor %}
<script type="text/javascript">
  console.log(data);
  shuuzenhiBalanceChart(data);
</script>
<br>
<hr>
{% endblock content %}
