{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}

{% block title %}
その他収入
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'shuuzenhi_in:incomelist' %}" class="navbar-item">収入履歴</a>
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:mypage' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container">
  <div class="content has-text-centered">
    <h4>使用料＋その他</h4>
  </div>
  <br>
  <div class="table-container">
    <table class="table is-striped is-narrow is-responsible">
      <thead>
        <tr>
          <th class="has-text-centered">期</th>
          <th class="has-text-centered">専用庭</th>
          <th class="has-text-centered">駐輪場</th>
          <th class="has-text-centered">バイク置場</th>
          <th class="has-text-centered">利息収入</th>
          <th class="has-text-centered">雑収入</th>
          <th class="has-text-centered">配当金</th>
          <th class="has-text-centered">合計</th>
        </tr>
      </thead>
      <tbody>
        {% for u in sonotalist %}
        <tr>
          <td class="has-text-centered">{{ u.ki }} </td>
          <td class="has-text-right">{{ u.niwa|intcomma}}</td>
          <td class="has-text-right">{{ u.bike|intcomma}}</td>
          <td class="has-text-right">{{ u.motor_bike|intcomma}}</td>
          <td class="has-text-right">{{ u.risoku|intcomma}}</td>
          <td class="has-text-right">{{ u.zatu|intcomma}}</td>
          <td class="has-text-right">{{ u.haitou|intcomma}}</td>
          <td class="has-text-right">{{ u.niwa|add:u.bike|add:u.motor_bike|add:u.risoku|add:u.zatu|add:u.haitou|intcomma}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}