{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}

{% block title %}
修繕費収入データの修正
{% endblock title %}
{% block navbar %}
<nav class="navbar is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<br>
<div class="sm_container">
  <br>
  <div class="content has-text-centered">
    <h4>修繕費収入データの修正</h4>
  </div>
  <div class="scroll">
    <table class="table is-narrow is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">ki</th>
          <th class="has-text-centered">master_id</th>
          <th class="has-text-centered">income</th>
          <th class="has-text-centered">修正</th>
        </tr>
      </thead>
      <tbody>
        {% for list in shuuzenhi_income_list %}
        <tr>
          <td class="has-text-centered">{{ list.ki }}</td>
          <td class="has-text-left">{{ list.master }}</td>
          <td class="has-text-right">{{ list.income|intcomma }}</td>
          <td class="has-text-centered">
            <a href="{% url 'shuuzenhi_in:update' list.id %}">
              修正
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  {# http://thinkami.hatenablog.com/entry/2016/02/04/231901 #}
  {% include 'page.html' %}
</div>

{% endblock content %}