{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}

{% block title %}
修繕費支出項目マスターの登録
{% endblock title %}

{% block content %}
<nav class="navbar is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a href="{% url 'register:operate_data' %}" class="navbar-item">戻る</a>
  </div>
</nav>
<br>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="sm_container">
  <br>
  <div class="content has-text-centered">
    <h3>工事費支出項目マスターの登録/修正</h3>
  </div>

  <form method='POST' enctype="multipart/form-data">
    <br>
    {% csrf_token %}
    <table class="table">
      {{form}}
    </table>
    <div class="content has-text-centered">
     <button type="submit" class="button is-primary ">保存</button>
     <a class="button is-danger" href="javascript:void(0);" onclick="window.history.back();">キャンセル</a>
    </div>
  </form>
  <hr>
  <div class="scroll">
    <table class="table is-narrow">
      <thead>
        <tr>
          <th class="has-text-centered">表示順序</th>
          <th class="has-text-centered">工事種別</th>
          <th class="has-text-centered">有効/無効</th>
          <th class="has-text-centered">修正</th>
        </tr>
      </thead>
      <tbody>
        {% for list in masterlist %}
        <tr>
          <td class="has-text-centered">{{ list.sequense }}</td>
          <td class="has-text-left">{{ list.koujitype }}</td>
          <td class="has-text-centered">{{ list.live }}</td>
          <td class="has-text-centered"><a href="{% url 'shuuzenhi_out:update_koujitype' list.id %}">修正</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% endblock content %}