{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}
{% load humanize %} {# 3桁区切りのため追加 #}
{% load static %} {# {% static  を使うため必要 #}

{% block title %}
個別工事支出
{% endblock title %}

{% block head %}
{# javascriptファイルを取り込む #}
<!--<script src='{% static 'js/moment-with-locales.js' %}'></script>-->
{% endblock head %}
{% block navbar %}
<nav class="navbar is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'register:mypage' %}">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'shuuzenhi_out:shubetulist' %}" class="navbar-item">工事種別合計</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
  </div>


</nav>
{% endblock navbar %}
<br>
{% block content %}
<div class="md_container">
  <br>
  <div class="content has-text-centered">
    <h4>工事リスト</h4>
  </div>
  <form action="{% url 'shuuzenhi_out:rirekilist' %}" method="get">
    <div class="columns">
      <div class="column is-3">
        {{form.account_type}}
      </div>
      <div class="column is-4">
        {{form.kouji_type}}
      </div>
      <div class="column is-2">
        {{form.year}}
      </div>
      <div class="column is-3">
        <button type="submit" class="button is-primary">表示</button>
      </div>
    </div>
  </form>
</div>
  <hr>
<div class="container">
  <div class="content scroll">
    <table class="table is-narrow">
      <thead>
        <tr class="has-background-grey-lighter">
          <th class="has-text-centered">西暦</th>
          <th class="has-text-centered">期</th>
          <th class="has-text-centered">工事名</th>
          <th class="has-text-centered">工事金額</th>
          <th class="has-text-centered">施工業者</th>
          {#<th class="has-text-centered">見積書ID</th>#}
          {#<th class="has-text-centered">会計区分</th>#}
        </tr>
      </thead>
      <tbody>
        {% for rireki in rirekilist %}
        <tr>
          <td class="has-text-centered">{{ rireki.year }}</td>
          <td class="has-text-centered">{{ rireki.year|add:start_year }}</td>
          {#<td class="has-text-left"><a href="{% url 'shuuzenhi_out:detail' rireki.pk %}">{{ rireki.koujimei|truncatechars:26 }}</a></td>#}
          <td class="has-text-left"><a href="{% url 'shuuzenhi_out:detail' rireki.pk %}">{{rireki.koujimei}}</a></td>
          <td class="has-text-right">{{ rireki.cost|intcomma }}</td>
          <td class="has-text-left">{{ rireki.constractor }}</td>
          {% comment %}
          {% if rireki.quotation_id == 0 %}
            <td class="has-text-right">{{ rireki.quotation_id }}</td>
          {% else %}
            <td class="has-text-right"><a href="{% url 'shuuzenhi_out:view_quotation' rireki.quotation_id %}">{{ rireki.quotation_id }}</a></td>
          {% endif %}
          <td class="has-text-centered">{{ rireki.account_type }}</td>
          {% endcomment %}
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <!--<td></td>-->
          <td></td>
          <td class="has-text-right">合計</td>
          <td class="has-text-right">{{total|intcomma}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
<br>
</div>
{% endblock content %}
