{# https://stackoverflow.com/questions/39123348/how-to-pass-a-queryset-from-django-to-javascript-function #}
{% extends "base.html" %}

{% block title %}
管理費支出カテゴリーの登録
{% endblock title %}

{% block navbar %}
<nav class="navbar is-fixed-top is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">【SG川崎】</a>
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a href="{% url 'register:master_data' %}" class="navbar-item">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
  <div class="content has-text-centered">
    <h4>管理費支出カテゴリーの登録/修正</h4>
  </div>
  <form method='POST' enctype='multipart/form-data' id='form_style'>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class='field'>
        <div class='control'>
          <div class='label'>{{ field.label_tag }}</div>
          <div class='my_field'>{{ field }}</div>
          {% if field.help_text %}
            <span class='helptext'>{{ field.help_text }}</span>
          {% endif %}
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
    {% csrf_token %}
    <br>
    <div class='content has-text-centered my_button'>
      <button type='submit' class='button is-primary'>読込み</button>
      <a class='button is-danger' href='javascript:void(0);' onclick='window.history.back();'>キャンセル</a>
    </div>
  </form>
  <br>
  <hr>
  <table class="table is-narrow" >
    {# 行高 table-md #}
    <thead>
      <tr>
        <th class="has-text-centered">コード</th>
        <th class="has-text-centered">カテゴリー名</th>
        <th class="has-text-centered">修正</th>
      </tr>
    </thead>
    <tbody>
      {% for list in masterlist %}
      <tr>
        <td class="has-text-centered">{{ list.code }}</td>
        <td class="has-text-left">{{ list.name }}</td>
        <td class="has-text-centered"><a href="{% url 'kanrihi_out:update_category' list.id %}">修正</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}